<h1>Custom Fields</h1>

<%= simple_table_for @custom_fields do |t| %>
  <% t.column :name %>
  <% t.column :field_type %>
  <% t.column :fieldable_type %>
  <% t.column :required %>
  <% t.column :show_public %>
  <% t.actions do %>
    <% action {|field| link_to "Delete", field, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you wish to delete #{field.name}?" }} %>
  <% end %>
<% end %> 