<h1>Product Builder Index</h1>

<body>
  Select a product to begin<br>
  <% form_for(@product_categories) do |f| %>
    <% @product_categories.each do |product| %>
      <%= radio_button_tag(:product, product.name) %>
      <%= label_tag(product.name, product.name) %>
    <% end %><br>
  <% end %>
</body>
