<h1>Listing options</h1>

<%= form_tag new_option_path, method: :get do %>
	<%= select_tag :option_type_id, options_from_collection_for_select(@option_types, :id, :name) %>
	<%= submit_tag "New Option", name: nil, class: "btn btn-primary" %>
<% end %>

<% @option_types.each do |type| %>
	<%= simple_table_for type.options, with: OptionTable %>
<% end %>

<br>

