<%= form_for @custom_item do |f| %>
  <%= render partial: "layouts/forms/errors", locals: {object: @custom_item} %>

  <div class="custom_products">
    <div class="category" >
      Select a product category to begin.<br>
      <%= collection_radio_buttons(:custom_item, :category, @categories, :to_s, :to_s) %>
    </div>
  
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
