<div class="panel-group">
	<% type.properties.each do |name, value| %>
		<div class="panel panel-default">

			<div class="panel heading">
				<h2><%= name %></h2>
			</div>

			<div class="panel body">
				<%= value %>
			</div>
			
		</div>
	<% end %>
</div>