<div class="panel-group">
	<% type.products.each do |product| %>
		<div class="panel panel-default">

			<div class="panel heading">
				<h2><%= product.name %></h2>
			</div>
			
		</div>		
	<% end %>
</div>