<h1>Listing product_categories</h1>
<br />
<%= link_to "New Image", new_product_category_path, class: "btn btn-primary" %>
<br />

<%= simple_table_for @product_categories, with: ProductCategoryTable %>