<h1>Option Categories</h1>

<%= simple_table_for @option_types do |table| %>
  <% table.column :name %>
  <% table.column :id %>
<% end %>

<br>

<%= link_to 'New Option type', new_option_type_path %>
