// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar li a {
  line-height: 30px;
  font-size: 20px;
  }
.nav-home {
  float: none;
  display: inline-block;
  *display: inline;
  *zoom:1;
  vertical-align: top;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  padding-top: 70px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-right: 1px solid #eee;
  text-align: left;
}

.nav-sidebar {
  margin-left: -20px;
  margin-right: -21px;
  margin-bottom: 20px;
}
.main {
  padding-top: 20px;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
.btn-group-footer {
  position: left;
  text-align: left;
  vertical-align: bottom;
}
.btn-link {
  color: rgb(20, 20, 20);
}
.btn-footer {
  text-align: left;
  padding: 0;
}
main {
  @extend .container;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 80px;
  width: 100%;
  margin-top: -20px; // accommodate the navbar
  }
HTML {
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto auto;
}
body {
  height: 100%;
  min-height: 100%;
  overflow: auto;
  padding-bottom: 70px;
}
section {
  @extend .row;
  margin-top: 20px;
  }
input {
  margin-right: auto;
  margin-left: auto;
  @extend .text-center;
}
header {
  padding-bottom: 0;
}
footer {
  height: 70px;
  text-align: left;
  background-color: #bcbcbc;
}
