// Place all the styles related to the home_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#carousel-home-page {
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	.carousel-inner {
		width: 100%;
		img {
			width: 100%;
		}
	}
	.carousel-control {
		.left {
			margin-left: auto;
		}
	}
}