
$capture_it: 'Capture it';

HTML {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  overflow: auto;
  padding-bottom: 70px;
  text-align: center;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto auto;
}

header {
  @extend .container-fluid;
  padding-bottom: 0;
}

.navbar-main {
  @extend .navbar;
  @extend .navbar-inverse;
  margin-bottom: 0px;
  border-radius: 0;
  border-width: 0;
}

.nav-main {
  @extend .nav;
  @extend .nav-justified;
  float: none;
  *zoom:1;
  vertical-align: top;

  .nav-link-main {
    padding: 0;
    color: rgb(220, 220, 220);
    font-family: $capture_it;
    font-size: 35px;
    &:hover {
      color: black;
    }
    &:active {
      color: rgb(200, 0, 0);
    }
  }
}

main {
  @extend .container-fluid;
  background-color: #fff;
  padding:0 0 70px 0;
  width: 100%;
  margin-top: 0px;
}

footer {
  height: 70px;
  background-color: #bcbcbc;
  text-align: left;
}

.btn-group-footer {
  @extend .btn-group-vertical;
  position: left;
  vertical-align: bottom;
}   

.btn-footer {
  @extend .btn;
  @extend .btn-link; 
  color: rgb(20, 20, 20);
  padding: 0;
  text-align: left;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
  margin-right: auto;
  margin-left: auto;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

