// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$capture_it: 'Capture it';
.navbar-store {
	min-height: 20px;
}
.nav-store {
	.nav-link-store {
		font-size: 20px;
	}
}
.col-catalogue {
	.row {
		margin: 0;
	}
}
.sidebar-catalogue {
  left: 0;
  bottom: 0;
  z-index: 1000;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: left;
  length: 100%;
  font-family: $capture_it;
}

.store-section {
	padding-top: 10px;
}
.store-category {
	display:inline-block;
}

.store-item {
	float:none;
  display:inline-block;
  vertical-align:middle;
}