// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-store {
	min-height: 20px;
}
.nav-store {
	.nav-link-store {
		font-size: 20px;
	}
}
.col-catalogue {
	@extend .col-sm-10;
	@extend .col-sm-offset-2;
}
.sidebar-catalogue {
	@extend .col-sm-2;
  left: 0;
  bottom: 0;
  z-index: 1000;
  padding-top: 70px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-right: 1px solid #eee;
  text-align: left;
  length: 100%;
  background-color: green;
}
.sidebar-catalogue-buttons {
	@extend .btn-group;
	ul {
		@extend .dropdown-menu;
	}
}
.thumbnail-store {
	@extend .thumbnail;
}
.store-section {
	@extend .row;
	margin: 0;
}

.col-store-item {
	@extend .col-sm-2;
	float:none;
  display:inline-block;
  vertical-align:middle;
}