// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-store {
	min-height: 20px;
}
.nav-store {
	.nav-link-store {
		font-size: 20px;
	}
}
.col-catalogue {
	@extend .col-sm-10;
	.row {
		margin: 0;
	}
}
.sidebar-catalogue {
	@extend .col-sm-2;
  left: 0;
  bottom: 0;
  z-index: 1000;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: left;
  length: 100%;
  font-family: $capture_it;
}
.catalogue-sidebar-navigation {
	@extend .panel-group;

	
}

.catalogue-section {
	@extend .panel;
	@extend .panel-default;

}
.catalogue-section-heading {
	@extend .panel-heading;
}
.catalogue-section-body {
	height: auto;
}
.catalogue-section-buttons {
	@extend .btn-group;
	width: 100%;
	.btn {
		@extend .btn-primary;
		width: 100%;
	}
}


.thumbnail-store {
	@extend .thumbnail;
}
.store-section {
	@extend .row;
	padding-top: 10px;
}
.store-category {
	display:inline-block;
}

.col-store-item {
	@extend .col-sm-5;
	float:none;
  display:inline-block;
  vertical-align:middle;
}