<div class="catalogue-sidebar-navigation">
	<div class="catalogue-section" data-toggle="buttons">
		<% @products.each do |section, categories| %>
			<div class="catalogue-section-heading">
				<h2>
					<%= section %>
				</h2>
			</div>
			<div class="catalogue-section-body">
				<div class="catalogue-section-buttons" data-toggle="buttons">
				
					<% categories.each do |category| %>
						<button class="btn" id="<%= category.id %>">
							<input class="category-selector" type="radio">
							<%= category.name %>
							</input>
						</button><br>
					<% end %>
				
				</div>
			</div>
		<% end %>
	</div>
</div>
