<div class="panel-group">
	<div class="panel panel-default" data-toggle="buttons">
		<% @products.each do |section, categories| %>
			<div class="panel-heading">
				<h2>
					<%= section %>
				</h2>
			</div>
			<div>
				<div class="btn-group" data-toggle="buttons">
				
					<% categories.each do |category| %>
						<button class="btn btn-primary catalogue-button" id="<%= category.id %>">
							<input class="category-selector" type="radio">
							<%= category.name %>
							</input>
						</button><br>
					<% end %>
				
				</div>
			</div>
		<% end %>
	</div>
</div>
