<nav class="navbar navbar-inverse navbar-main navbar-store" >
	<ul class="nav nav-pills nav-main nav-store">
		<li><%= link_to 'Catalogue', store_path, class: "nav-link-main nav-link-store" %></li>
		<li><%= link_to 'In Stock', store_premade_path, class: "nav-link-main nav-link-store" %></li>
		<li><%= link_to 'Custom Shop', custom_items_path, class: "nav-link-main nav-link-store" %></li>
	</ul>
</nav>