<% if !flash[:notice].blank? %>
	<div class="alert alert-info">
		<%= flash[:notice] %>
	</div>
<% end %>
<br />
<%= link_to "New Image", new_image_path, class: "btn btn-primary" %>
<br />
<%= simple_table_for @images, with: ImageTable %>
<%= simple_table_for @galleries do |table| %>
	<% table.column :title %>
	<% table.column :images, using: ThumbnailColumn %>
<% end %>
