<div class="btn-group-footer btn-group-vertical">
  <%= link_to locations_path, class: "btn-footer btn btn-link" do %>
    <i class="glyphicon glyphicon-globe"> Locations</i>
  <% end %>
  <%= link_to about_path, class: "btn-footer btn btn-link" do %>
    <i class="glyphicon glyphicon-info-sign"> About</i>
  <% end %>
  <%= link_to contact_path, class: "btn-footer btn btn-link" do %>
    <i class="glyphicon glyphicon-send"> Contact</i>
  <% end %>
</div>
