<%# navigation styled for Bootstrap 3.0 %>
<div class="row">
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <ul class="nav nav-pills">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </nav>
</div>

