<%# navigation styled for Bootstrap 3.0 %>
<div class="row">
  <nav class="navbar-main" role="navigation">
     <ul class="nav-main">
       <%= render 'layouts/navigation_links' %>
     </ul>
  </nav>
</div>

