<!DOCTYPE html>
<html>
<head>
  <title>Trashmessengerbags</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <h1>Trash Messenger Bags</h1>
</head>
<body>

<%= yield %>

</body>
</html>
